
@{
	@model testapp.Models.UserDetailsViewModel
	var userDetails = Model;

	<h1>User Details: @userDetails.User.Username</h1>


	// Display the username
	// Display password LOL
	// Display inventory space
	// Display solshards


		<div><strong>Username:</strong> @userDetails.User.Username</div>
		<div><strong>Password:</strong> @userDetails.User.Password</div>
		<div><strong>Sol-Shards:</strong> @userDetails.User.SolShards</div>
		<div><strong>Inventory Space:</strong> @userDetails.User.InventorySpace</div>

	<h3>Actions</h3>
	<a href="/UserPage/Edit/@userDetails.User.Id">Edit This User</a>
	<a href="/UserPage/ConfirmDelete/@userDetails.User.Id">Delete This User</a>

	<h4>Add Item to user Inventory</h4>

	<form method="post" action="/UserPage/AddToInventory">
		<input type="hidden" value="@userDetails.User.Id" name="userId"/>
		<label for="itemId">Item:</label>
		<select name="itemId">
			@foreach (var item in userDetails.AllItems)
			{
				<option value="@item.Id">@item.Name</option>
			}
		</select>
		<label for="quantity">Quantity:</label>
		<input type="number" name="quantity"/>
		<button type="submit">Add</button>
	</form>
	

	<h3>Inventory of @userDetails.User.Username</h3>

	<table>
		<thead>
			<tr>
				<th>Item Name  </th>
				<th>Item Quantity  </th>
				<th>Item Details  </th>
				<th>Delete Entry  </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var inventory in userDetails.Inventory)
			{
				<tr>
					<td>@inventory.ItemName</td>
					<td>@inventory.Quantity</td>
					<td><a href="/ItemPage/Details/@inventory.ItemId">[Details]</a></td>
					<td>
						<form method="post" action="/InventoryPage/DeleteInventoryFromUserDetails">
					<input type="hidden" value="@inventory.Id" name="Id"/>
					<input type="hidden" value="@userDetails.User.Id" name="UserId"/>
					<button type="submit">Delete</button>
					</form></td>
				</tr>
			}
		</tbody>
	</table>



	// Display inventory items
	// Display item name
	// Display Quantity

	

	
}
